:root {
  --size: 150px;
  --button-height: 50px;
  --button-height-mobile: 30px;
  --button-color: linear-gradient(30deg, rgb(255, 163, 59) 0%, #FF2525 74%);
  --button-font-color: #000000;
  --font: 'Sen', sans-serif;
  --font-color: #134d68;
  --font-hover: #2a94b4;
  --item-color: #ad7fb3;
  --container-color: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  --container-size: 630px;
  --gap: 1rem;

  overflow-x: hidden;
  overflow-y: auto;
  font-size: 10px;
  background-color: #acc0c398;
}

@media (min-width: 320px) and (max-width: 600px) {
  :root {
    --container-size: 305px;
    --size: 72px;
    --gap: 0.5rem;
  }
}
